<div class="view-matches-per-day">
  <%= link_to "Pick day to view matches", "#", class: "btn btn-default view-btn pick-a-date" %>
  <div id="view-pair-form" style="display:none;">
    <%= render 'clusters/view_form' %>
  </div>
</div>

<div class="select-dates-for-matches">
  <%= link_to "Select dates for teamwork projects", "#", class: "btn btn-default select-btn" %>
  <div id="select-pair-form" style="display:none;">
    <%= render 'clusters/select_form' %>
  </div>
</div>

<%= link_to 'Admin panel', users_index_path, class: 'btn btn-default text-right' %>

<br>
<div class="today", data-date=<%= @date %>></div>
<div class='matches-for-day'>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <icon class='btn btn-lg glyphicon glyphicon-chevron-left pull-left', id='prev-date'></icon>
      <icon class='btn btn-lg glyphicon glyphicon-chevron-right pull-right', id='next-date'></icon>
      <h3 id="table-header" class="text-center"></h3>
    </div>

    <div class="panel-body">
      <table class="table table-striped" id="pairs-for-day">
      </table>
    </div>
  </div>
</div>
