<div class="row">
  <div class="view-matches-per-day col-md-3">
    <%= link_to "Pick day to view matches", "#", class: "btn btn-default view-btn" %>
  </div>
  <div class="select-dates-for-matches col-md-3">
    <%= link_to "Select dates for teamwork projects", "#", class: "btn btn-default select-btn" %>
  </div>
  <%= link_to 'Admin panel', users_index_path, class: 'btn btn-default col-md-2 pull-right' %>
</div>
<div id="view-pair-form" style="display:none;">
  <%= render 'clusters/view_form' %>
</div>
<div id="select-pair-form" style="display:none;">
  <%= render 'clusters/select_form' %>
</div>


<br>
<div class='matches-for-day'>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <icon class='btn btn-lg glyphicon glyphicon-chevron-left pull-left', id='prev-date'></icon>
      <icon class='btn btn-lg glyphicon glyphicon-chevron-right pull-right', id='next-date'></icon>
      <h3 id="table-header" class="text-center"></h3>
    </div>

    <div class="panel-body">
      <table class="table table-striped" id="pairs-for-day">
      </table>
    </div>
  </div>
</div>
