<h1>Your match of today</h1>
<div class="panel panel-success">
  <div class="panel-heading">
    <h4><%= Date.today.strftime("%A %d %B %Y") %></h4>
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <% if @pair.nil? %>
        <%= 'You have no match for today' %>
      <% else %>
        <tr>
          <td><%= @pair.users[0].email %></td>
          <td><%= @pair.users[1].email %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<%= link_to 'See past matches', pairs_index_url, class: 'btn btn-warning' %>
